/* 定义ws-common所有可共用的sass variable以及mixin */

/********************** size **********************/
// 圆角
$wsBorderRadius: 3px;

/********************** color **********************/
// 白色
$wsWhite: #fff;

/********************** btnColor **********************/


/********************** ng-zorro override **********************/


/********************** mixin **********************/
@mixin background-white {
    background-color: $wsWhite;
}
